<div class="container">
    <div class="content">
      <div class="image">
        <img src="../../assets/order.jpg" alt="Order Confirmation" style="height: 200px;" />
        <h1>Order Placed Successfuly</h1>
        <p>
          Hurray!!! Your order is confirmed <br>
          The order ID is #123456. Save the order ID for <br>
          further communication.
        </p>
      </div>
  
      <div class="address-div">
        <table>
          <thead>
            <tr>
              <th>Email us</th>
              <th>Contact us</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>admin&#64;bookstore.com</td>
              <td>+91 6304796656</td>
              <td>Gandhi Nagar, Tirupathi AP 517325</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="button">
        <button (click)="gotocards()">CONTINUE SHOPPING</button>
      </div>
    </div>
  </div>
  